In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/cars_dataset.csv.xls")

In [ ]:
df=df.fillna(0)
df.sample(5)

,Name,Location,Year,Combustible,Kilometers,Transmission,Power [CV],Price [€],Financed Price,Dealer,Dealer Rating (over 5)
294,AUDI A7 Sportback 3.0TDI quattro S-Tronic 204,Madrid,2013,Diésel,119.000,Automático,204.0,28.000,Con financiación,GESTION DIRECTA DE VEHICULOS,"4,5"
65,MERCEDES-BENZ Clase C C-CLASS 200 D AVANTGARDE,Murcia,2020,Diésel,12.300,Automático,160.0,35.500,Con financiación,0,0
183,BMW Serie 1 118D 150 STEPTRONIC m sport,Málaga,2020,Diésel,12.194,Automático,140.0,29.937,Con financiación,0,0
145,AUDI A3 Sportback 2.0TDI S Line Edition 110kW,Barcelona,2016,Diésel,86.000,Manual,150.0,18.000,Con financiación,ÉLITE MATARÓ,"0,0"
106,MITSUBISHI ASX 180DI-D Motion,Ciudad Real,2012,Diésel,108.185,Manual,116.0,10.990,Sin financiación,0,0

In [ ]:
print(df.isnull().sum())

Name                      0
Location                  0
Year                      0
Combustible               0
Kilometers                0
Transmission              0
Power [CV]                0
Price [€]                 0
Financed Price            0
Dealer                    0
Dealer Rating (over 5)    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320 entries, 0 to 319
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Name                    320 non-null    object
 1   Location                320 non-null    object
 2   Year                    320 non-null    int64
 3   Combustible             320 non-null    object
 4   Kilometers              320 non-null    float64
 5   Transmission            320 non-null    object
 6   Power [CV]              320 non-null    float64
 7   Price [€]               320 non-null    float64
 8   Financed Price          320 non-null    object
 9   Dealer                  320 non-null    object
 10  Dealer Rating (over 5)  320 non-null    object
dtypes: float64(3), int64(1), object(7)
memory usage: 27.6+ KB

In [ ]:
df.describe()

              Year  Kilometers  Power [CV]   Price [€]
count   320.000000  320.000000  320.000000  320.000000
mean   2017.271875   67.856738  188.050000   31.935275
std       3.706026   68.518875  124.441438   49.419175
min    2000.000000    0.000000    0.000000    1.000000
25%    2016.000000   15.000000  116.000000   13.900000
50%    2018.000000   56.350000  150.000000   20.945000
75%    2020.000000   96.175000  200.000000   32.900000
max    2021.000000  650.000000  999.000000  665.900000

In [ ]:
df['vehicle.make'].value_counts()

KeyError: ignored

In [ ]:
df['vehicle.type'].value_counts()

In [ ]:
labels = ['car', 'suv','minivsn','truck','van']
size = df['vehicle.type'].value_counts()
explode = [0,0.2]
colors = ['Pink', 'blue','red','yellow'] ## color Genders

plt.rcParams['figure.figsize'] = (7,7)
plt.pie(size, labels=labels, autopct='%1.1f%%', shadow=True, colors=colors,startangle = 0)
plt.legend(title="vehicle.type",fontsize= 10)
plt.show()

KeyError: ignored

In [ ]:
labels=df['fuelType'].value_counts().index
values=df['fuelType'].value_counts().values

#visualization
plt.figure(figsize=(7,7))
plt.pie(values ,labels = labels ,autopct='%1.1f%%')
plt.title('fuelType')
plt.show()
plt.savefig('Fuel Type.png', format='png')

In [ ]:
df['Location'].value_counts()

In [ ]:
df["fuelType"].value_counts()

In [ ]:
df["location.country"].value_counts()

In [ ]:
df.drop("location.country", axis=1, inplace=True)

In [ ]:
# get number of categories value 
print("Number of Categories in: ")
for ColName in df[['fuelType','location.city','location.state','vehicle.make','vehicle.model','vehicle.year']]:
    print("{} = {}".format(ColName,len(df[ColName].unique())))

In [ ]:
median=df["rating"].median()
df["rating"].fillna(median, inplace=True)

In [ ]:
df.info()

In [ ]:
dt1 = df.replace(np.nan, 'GASOLINE', regex=True)

In [ ]:
dt1 = dt1.rename(columns={'location.latitude': 'latitude', 'location.longitude': 'longitude',
                             'rate.daily': 'rate_daily','vehicle.year': 'vehicle_year'})
dt1.head()

In [ ]:
labels=dt1['vehicle.make'].value_counts().index
f, ax = plt.subplots(figsize=(18, 7))
sns.countplot(x='vehicle.make', data=dt1,
              order = labels,
              #hue='vehicle.year'
              palette="BuGn_r"
           )
plt.xticks(rotation= 45,fontsize=7 )
ax.set_ylabel('count', fontsize=15, color='b')
ax.set_xlabel('make of the vehicle', fontsize=14, color='b')
#plt.savefig('make of the vehicle.png', format='png')
plt.savefig('myimage.svg', format='svg', dpi=1200)

In [ ]:
labels=dt1['location.state'].value_counts().index
f, ax = plt.subplots(figsize=(18, 7))
sns.countplot(x='location.state', data=dt1,
              order = labels,
              #hue='vehicle.year'
              palette="Set2"
           )
plt.xticks(rotation= 45,fontsize=12 )
ax.set_ylabel('Car count', fontsize=15, color='r')
ax.set_xlabel('location.state', fontsize=14, color='r')
#plt.savefig('make of the vehicle.png', format='png')
plt.savefig('Car count per state', format='svg', dpi=1200)

In [ ]:
pip install folium

Plotting the data on a map with Folium

In [ ]:
import folium
from folium.plugins import HeatMap
center = [35.582889, -99.632773]  #data.describe(mean)
m = folium.Map([dt1.latitude.mean(), dt1.longitude.mean()], zoom_start=4,center=center)
for index, row in dt1.iterrows():
    folium.CircleMarker([row['latitude'], row['longitude']],
                        radius=row['renterTripsTaken']/10,
                        fill_color="#3db7e4", 
                       ).add_to(m)
    
points = dt1[['latitude', 'longitude']].values
m.add_children(HeatMap(points, radius=15)) # plot heatmap
m.save('map.html')
m

Histogram of Rental Car Rating

In [ ]:
f, ax = plt.subplots(figsize=(18, 7))
sns.histplot(data=dt1, x="rating", binwidth=.01)
ax.set_ylim(0,300)
ax.set_xlim(2,5)
plt.title('Rental Car Rating')
plt.show()
plt.savefig('Rental Car Rating.png', format='png')

Histogram of vehicle_year

In [ ]:
f, ax = plt.subplots(figsize=(18, 7))
sns.histplot(data=dt1, x="vehicle_year")
ax.set_xlim(1990,2021)
plt.title('vehicle year')
plt.show()
plt.savefig('vehicle year.png', format='png')

In [ ]:
pip install plotly_express

In [ ]:
import plotly_express as px
dt_make_model = dt1.groupby(['vehicle.make', 'vehicle.model']).size().reset_index()
dt_make_model.rename(columns = {0:'model_count'}, inplace=True)
dt_make_model['make_count'] = dt_make_model['vehicle.make'].apply(
    lambda x : dt_make_model[dt_make_model['vehicle.make'] == x]['model_count'].sum())
dt_make_model.sort_values(by = 'make_count', ascending=False, inplace=True)
fig =px.scatter(dt_make_model[dt_make_model['make_count'] >45],
             x = 'vehicle.make', y='model_count', color = 'vehicle.model',width=1100, height=700,
                title='Make and Model of Top Most Rented Cars')
fig.show()

In [ ]:
from IPython.display import IFrame
IFrame('https://datastudio.google.com/embed/reporting/6ddc4bc8-e881-4983-a37f-51e057485122/page/OFP8B', width='100%', height=900)